<launch>

<include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find simulation)/worlds/kri_nasional.world"/>

    <arg name="paused" value="false"/>
    <arg name="verbose" value="false"/>
    <arg name="use_sim_time" value="true" />
</include>

  <!-- <node name="spawn_robot" pkg="simulation" type="spawn_robot.sh"/> -->
</launch>